body.navbar-is-fixed-top,
body.navbar-is-fixed-top.admin-menu {
  padding-top: 0 !important;
  margin-top: 51px !important;
}
body.navbar-is-fixed-top.toolbar {
  padding-top: 6.4rem !important;
}
img {
  max-width: 100%;
  height: auto;
}
div.links {
  margin-top: 1rem;
}
.links.list-inline {
  margin-left: 0;
}
.hljs {
  background: transparent !important;
}
.jumbotron {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}